<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <%
    let addUrlParam = function(search, key, val){
        var newParam = key + '=' + val,
                params = '?' + newParam;

        // If the "search" string exists, then build params from it
        if (search) {
            // Try to replace an existance instance
            params = search.replace(new RegExp('([?&])' + key + '[^&]*'), '$1' + newParam);

            // If nothing was replaced, then add the new param to the end
            if(search.indexOf('=') !== -1) {
                if (params === search) {
                    params += '&' + newParam;
                }
            }
            else {
                params +='?' + newParam;
            }

        }

        return params;
    };

    %>
</head>
