<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Tracker Business</a>
    </div>
    <ul class="nav navbar-nav navbar-main">
        <li><a href="/list">List</a></li>
        <li><a href="/ledger">Ledger</a></li>
        <li><a href="/regrade">Regrade</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-utils">
        <li><a><span></span></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-cog" ></span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-navbar" href="/logout">Logout</a></li>
                <li><a class="dropdown-navbar" href="/profile">Change Password</a></li>
            </ul>
        </li>
        <li><a><span></span></a></li>
    </ul>
</nav>