<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs%>

<body>
<% include partials/nav.ejs %>

<div class="container list-action-container">
    <div class="row">
        <div class="card-large center">
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-1">
                    <li><p class="nav-desc"><span class="glyphicon glyphicon-user"></span>Profile</p></li>
                    <li><p class="nav-desc">Here you will edit your profile</p></li>
                </ul>
            </nav>
            <div class="container">
                <form action="/profile" method="post">
                    <div class="form-group col-xs-6">
                        <label for="firstname">New Password</label>
                        <input type="password" class="form-control" id="newpassword" name="newpassword">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword">
                    </div>
                    <div class="form-group col-xs-4">
                        <button type="submit" class="btn btn-lg btn-success" id="savebutton">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/scripts.ejs %>
<script>
    $(document).ready( function() {
        $('#confirmpassword').css('border-color', 'red');
        $('#confirmpassword').keyup(function () {
            if($(this).val() != '' && $('#newpassword').val() == $(this).val()) {
                $(this).css('border-color', 'green');
            }
            else {
                $(this).css('border-color', 'red');
            }
        });
        let input = $('input'),
            signup = $('#savebutton');
        signup.attr('disabled', true);
        input.keyup(function() {
            let trigger = false;
            input.each(function() {
                if (!$(this).val()) {
                    trigger = true;
                }
            });
            trigger ? signup.attr('disabled', true) : signup.removeAttr('disabled');
        });
    });
</script>


</body>
</html>